body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #b5b8b5;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9b9b9b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 16px;
    display: block;
    text-decoration: none
}

.sidebar.active {
    width: 250px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.menu-icon {
    z-index: 2;
}

.close-icon {
    font-size: 16px;
    /* Ajuste o tamanho conforme necessário */
}

.campo-busca {
    width: 200px;
    /* Largura fixa */
    max-width: 90%;
    /* Largura máxima em relação ao contêiner pai */
}

#resultados {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.resultado-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}

.meio {
    max-width: 400px;
    margin: 0 auto;
}

#ordens-lista {
    margin-top: 20px;
}

.ordem-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    /* Indica que é clicável */
}

.resultado-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}