body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #9c9c9c;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
}

form {
    max-width: 80%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9b9b9b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 16px;
    display: block;
    text-decoration: none
}

.sidebar.active {
    width: 250px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.menu-icon {
    z-index: 2;
}

.close-icon {
    font-size: 16px;
    /* Ajuste o tamanho conforme necessário */
}

.campo-busca {
    width: 200px;
    /* Largura fixa */
    max-width: 90%;
    /* Largura máxima em relação ao contêiner pai */
}

#resultados {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.resultado-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}

.meio {
    max-width: 80%;
    margin: 0 auto;
}

#ordens-lista {
    margin-top: 20px;
}

.ordem-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    /* Indica que é clicável */
}

.resultado-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.resultado-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #b4b4b4;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}